<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atech.mpso"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    
    

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.atech.mpso.MPsoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.atech.mpso.HistoricoActivity" />

        <provider
            android:name="com.atech.mpso.database.MPesoContentProvider"
            android:authorities="com.atech.mpeso"
            android:exported="false"
            android:readPermission="com.atech.mpeso.READ_DATA"
            android:writePermission="com.atech.mpeso.WRITE_DATA" >
        </provider>
        
        <receiver android:name="com.atech.mpso.AlarmReceiver" />
    </application>

</manifest>